.chat {
  display: flex;
  flex-direction: column;
  flex: 0.75;
  background-color: #363a3f;
  /* height: 100vh; */
}

.chat__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 20px;
  color: lightgray;

  border-radius: 5px;
  background-color: #474b53;
  border-top: 1px solid gray;
}
.chat__input > form > input {
  padding: 15px;
  outline-width: 0;
  width: 100%;
  color: lightgray;
  border: none;
  background: transparent;
  font-size: large;
}
.chat__input > form {
  flex: 1;
}

.chat__inputButton {
  display: none !important;
}

.chat__inputIcons > .MuiSvgIcon-root {
  padding: 5px;
}
.chat__messages {
  flex: 1;
}
